* {
  margin: 0;
  padding: 0;
}

/* App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.content {
  /* margin-top: 100px */
  padding: 20px;
}

.sloganul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  text-align: center;
}

.sloganli {
  margin: 30px 10px 10px 0;
  cursor: pointer;
  
  width: calc(33.33% - 10px); /* Three items per row with some margin */
}


/* Gallery.css */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.gallery-item {
  width: calc(33.33% - 10px); /* Adjust the width and margin as needed */
  margin-bottom: 20px; /* Adjust the margin as needed */
  
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  cursor: pointer;
}



/* css for overlay of images */

.overlay-image-container { 
  width: 80%;
  height: 80%;
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  /* border-bottom: 1px solid #bdbdbd */


}


.overlay-image {
  width: auto;
  height: 100%;
  margin: auto;
  border-radius: 10px;
}


.sloganoverlaycontainer {
  position: relative;
}
/* For WebKit browsers (Chrome, Safari) */
.sloganoverlaycontainer::-webkit-scrollbar {
  width: 21px; 
  margin-right: -5000px;
}

.sloganoverlaycontainer::-webkit-scrollbar-thumb {
  background-color: #04C2; /* Color of the thumb */
  border-radius: 0 25px 25px 0; /* Border radius of the thumb */
}



.sloganoverlaycontainer::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
  border-radius: 0 25px 25px 0; /* Border radius of the track */
}

/* For Firefox */
/* Note: Firefox doesn't currently support border-radius on the scrollbar thumb and track */
/* The following styles will only work on WebKit browsers */
* {
  scrollbar-color: #04C2 #f1f1f1;
  scrollbar-width: normal;
}

.spanTDK {
  color: blue; /* Set your desired text color */
  text-decoration: underline; /* Add underline to simulate a link */
  cursor: pointer;
}

.spanTDK:hover {
  color: darkblue; /* Set the color you want on hover */
}

.TDKOVERLAYWORD {
  box-sizing: border-box;
  font-size: 40px;
  font-weight: bolder;
  color: blue;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: CENTER; 
}

.TDKOVERLAYTELAFFUZ {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bolder;
  color: orange;
  line-height: 1.4;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.TDKOVERLAYWORDMEANING {
  margin: 0 0 10px;
  font-size: 20px;
  color: black;
  line-height: 1.4;
}



.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loading-dot {
  width: 30px;
  height: 30px;
  background-color: #f90; /* Orange color */
  border-radius: 50%;
  margin: 0 10px;
  opacity: 0;
  animation: loading-animation 1.5s infinite;
}

.loading-dot:nth-child(2) {
  animation-delay: 0.5s;
  background-color: #3498db; /* Blue color */
}

.loading-dot:nth-child(3) {
  animation-delay: 1s;
  background-color: #f90; /* Orange color */
}

@keyframes loading-animation {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
}


.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}

.github-logo {
  width: 20px; /* Adjust the width of the GitHub logo */
  height: auto;
  margin-right: 5px;
  vertical-align: middle;
}
.orange-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;  
  color: #fff;
  background-color: red; /* Orange color */
  border: 2px solid red;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.orange-button:hover {
  background-color: #cc6600; /* Darker orange on hover */
  border-color: #cc6600;
}


.safahalImgContainer { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;


}

.safahalImg { 
  height: 90vh;
  margin: auto  ;
  
}

@media (max-width: 500px) { 
  .gallery-item {
    width: calc(50% - 10px); /* Adjust the width and margin as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
  } 
  
  .sloganli {
    margin: 30px 10px 10px 0;
    width: calc(50% - 10px); /* Three items per row with some margin */
  }

  .safahalImg { 
    width: 100%;
    height: auto;
  }
}

